# Compiled binaries (produced by sim.py in whatever dir you run it from)
simulator/make-move
simulator/bingo-v*
simulator/bingo-v*/

# Temp files created by the simulator
simulator/temp-state.txt
simulator/current-state.txt
simulator/move.in

# Generic build artifacts
*.o
*.out
a.out
